@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

:root {
	--accent: #4162ea
}

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #dfebf5;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #2b2e39;
}

div#__next, div#app {
	height: 100%;
	width: 100%;
	// overflow: hidden;
}

div.page {
	display: block;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
}

div.container {
	max-width: 1275px;
	margin: 0 auto;
}

h1 {
	margin: 0;
	padding: 20px 0;
	font-weight: 100;
	white-space: nowrap;
	overflow: hidden;

	&::before {
		margin-right: 24px;
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 64px;
		height: 1px;
		background: linear-gradient(to left,var(--accent),transparent 80%);
	}

	&::after {
		margin-left: 24px;
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 1px;
		background: linear-gradient(to right,var(--accent),transparent 80%);
	}
}

/* tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;

	&:hover:before,
	&:hover:after {
		visibility: visible;
		opacity: 1;
	}

	&:before,
	&:after {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	&:before {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-bottom: -10px;
		margin-left: -95px;
		padding: 7px;
		width: 175px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #000;
		background-color: hsla(0, 0%, 20%, 0.9);
		color: #fff;
		content: attr(data-tooltip);
		text-align: center;
		font-size: 14px;
		line-height: 1.2;
	}

	&:after {
		position: absolute;
		bottom: 150%;
		left: 50%;
		margin-bottom: -15px;
		margin-left: -5px;
		width: 0;
		border-top: 5px solid #000;
		border-top: 5px solid hsla(0, 0%, 20%, 0.9);
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: " ";
		font-size: 0;
		line-height: 0;
	}
}