@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #dfebf5;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #2b2e39;
}

div#__next, div#app {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
}

div.page {
	display: block;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
}

div.container {
	max-width: 1275px;
	margin: 0 auto;
}