$white: #dfebf5;
$whiteish: #aabccb;

.setup {
	background-image: url('https://cdn.tcole.me/setup-compressed.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 65%;

	.bio {
		margin: 0;
		padding: 10px 0 40px 0;
		width: 100%;
		background: rgba(50,59,72, 0.8);
		background: linear-gradient(-55deg, rgba(36,39,48,0.8) 0%, rgba(50,59,72,0.8) 100%);

		.container { max-width: 1000px; }

		a {
			color: $white;
			text-decoration: none;
			font-style: italic;
			font-weight: 300;

			&[href="https://socialblade.com/info/team"] {
				font-weight: 500;
				font-style: normal;
				color: #b3382c;
			}

			&[href="https://link.twitch.tv/devchat"] {
				font-weight: 500;
				font-style: normal;
				color: #8b70bd;
			}
		}
	}
}

.socials {
	text-align: center;
	margin-top: -25px;

	&:nth-child(1) { margin-left: 0; }
	a { margin-left: 25px; }

	.button {
		display: inline-block;
		font-size: 1.7rem;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border-radius: 15%;
		color: rgba(43, 53, 66, 0.9);

		&.twitch {
			background: rgb(108, 36, 167);
			background: linear-gradient(49deg, rgb(108, 36, 167) 0%, rgb(163, 81, 181) 100%);
		}

		&.youtube {
			background: rgb(255, 75, 75);
			background: linear-gradient(49deg, rgb(255, 75, 75) 0%, rgb(155, 75, 75) 100%);
		}

		&.twitter {
			background: rgb(81, 104, 181);
			background: linear-gradient(49deg, rgb(81, 104, 181) 0%, rgb(81, 141, 181) 100%);
		}

		&.github {
			background: rgb(50, 58, 83);
			background: linear-gradient(49deg, rgb(63, 73, 104) 0%, rgb(99, 111, 146) 100%);
		}

		&.instagram {
			background: rgb(181, 126, 81);
			background: linear-gradient(49deg, rgb(181, 126, 81) 0%, rgb(158, 81, 181) 100%);
		}

		&.discord {
			background: rgb(99, 81, 181);
			background: linear-gradient(49deg, rgb(99, 81, 181) 0%, rgb(92, 103, 197) 100%);
		}
	}
}