.nda {
	.body {
		height: calc(100% - 71px);
		max-height: calc(100% - 71px);
		position: relative;
		display: flex;
		overflow: hidden;

		@media only screen and (max-width: 750px) {
			flex-direction: column;

			.player {
				flex: 0 !important;
				height: calc(560px * 9/16);
				max-height: calc(560px * 9/16);
			}

			.chat {
				flex: 1;
				max-height: 100% !important;
				max-width: 100% !important;
			}
		}

		.player {
			flex: 1;
			z-index: 1;
			position: relative;

			&.buffering::before {
				content: "Buffering...";
				font-size: 2rem;
				text-align: center;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				height:20000px;
				line-height:20000px;
				width: 100%;
				background: rgba(#2b2e39, 0.5);
			}
		}

		.chatControls {
			font-size: 0.6em;
			display: block;
			position: absolute;
			right: 5px;
			top: 5px;
			z-index: 10;
			color: rgba(#dfebf5, 0.5);
			opacity: 0.0;
			transition: ease all 150ms;

			&:hover { opacity: 1; }

			.hideChat, .popoutChat {
				display: block;
				background: #2b2e39;
				padding: 8px;
				margin-bottom: 4px;

				&.isChatHidden { transform: rotate(180deg); }
			}
		}

		.chat {
			$width: 425px;
			min-width: $width;
			max-width: $width;
			z-index: 2;

			&.isChatOnly {
				flex: 1;
				max-width: 100% !important;
			}

			&.isChatHidden { display: none; }
		}
	}
}

.nda-login {
	.body {
		display: block;
		width: 1250px;
		margin: 0 auto;

		h1 {
			margin-top: 15px;
		}

		form {
			width: 325px;
			margin: 25px auto;
		}
	}

	fieldset {
		position: relative;
		padding: 0;
		margin: 15px 5px;
		border: none;
		overflow: visible;

		input[type="text"], input[type="password"] {
			box-sizing: border-box;
			width: 100%;
			padding: 12px 10px 8px;
			border: none;
			border-radius: 0;
			box-shadow: none;
			border-bottom: 1px solid var(--accent);
			font-size: 1em;
			outline: none;
			cursor: text;
			background: transparent;
			color: #ffffff;
			&::-webkit-input-placeholder,
			&::-webkit-input-placeholder {
				-webkit-transition: color 300ms ease;
				transition: color 300ms ease;
			}
			&:not(:focus)::-webkit-input-placeholder,
			&:not(:focus)::-webkit-input-placeholder {
				color: transparent;
			}
			&:focus ~ hr {
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
				visibility: visible;
			}
			&:focus ~ label,
			&:not([data-value=""]) ~ label {
				-webkit-transform: scale(0.6);
				transform: scale(0.6);
				font-size: 1.2rem;
			}
		}

		hr {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 2px;
			border: none;
			background: var(--accent);
			font-size: 1px;
			will-change: transform, visibility;
			-webkit-transition: all 200ms ease-out;
			transition: all 200ms ease-out;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			visibility: hidden;
			z-index: 10;
		}
		label {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 1rem;
			color: #ffffff;
			-webkit-transform-origin: 0 -150%;
			transform-origin: 0 -150%;
			-webkit-transition: -webkit-transform 300ms ease;
			transition: -webkit-transform 300ms ease;
			transition: transform 300ms ease;
			transition: transform 300ms ease, -webkit-transform 300ms ease;
			pointer-events: none;
		}
	}

	input[type="submit"] {
		background: var(--accent);
		padding: 12px 35px;
		margin-top: 15px;
		border: 0;
		letter-spacing: 1px;
		width: 100%;
		cursor: pointer;
	}
}
