.spotify {
	display: flex;
	height: 65px;
	position: relative;
	border-bottom: 2px solid #1DB954;

	img { height: 100%; }

	.meta {
		padding: 10px;
		p, marquee {
			margin: 0;
			font-size: 1.25rem;
			overflow: hidden;
			white-space: nowrap;
		}

		span {
			font-size: 0.9rem;
		}
	}
}